<div class="main">
    <app-course-preview-container 
        [title]="'Курс по JavaScript'"
        [caption]="'Курс для учеников ИРИТ-РТФ'"
        [srcCourseImage]="'assets/image/jsIcon.svg'"
        [theme]="'light'"
        [backgroundColor]="'#F7DF1E'"
    ></app-course-preview-container>
    <app-course-preview-container 
        [title]="'Курс по .NET'"
        [caption]="'Курс для учеников ИРИТ-РТФ'"
        [srcCourseImage]="'assets/image/netIcon.svg'"
        [theme]="'dark'"
        [backgroundColor]="'#512BD4'"
    ></app-course-preview-container>
</div>