<div class="main">
    <app-course-menu></app-course-menu>
    <div class="content">
        <app-top-toolar-container class="toolbar"></app-top-toolar-container>
        <div class="selectType">
            <div class="title">Выберите тип урока </div>
            <div class="lessonsTypes">
                <app-lesson-type [type]="'text'"></app-lesson-type>
                <app-lesson-type [type]="'presentation'"></app-lesson-type>
                <app-lesson-type [type]="'video'"></app-lesson-type>
                <app-lesson-type [type]="'test'"></app-lesson-type>
                <app-lesson-type [type]="'literature'"></app-lesson-type>
            </div>
        </div>
    </div>
</div>