.main {
    display: flex;
}

.menu {
    position: fixed;
    height: calc(100vh - 57px);
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px 0;
    background: #ECEEF3;
    align-items: center;
    height: calc(100vh - 57px);
    margin-left: 320px;
}

.toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

