<div class="main">
    <app-course-menu class="menu" [courseInfo]="courseInfo" (createModule)="createModule()"
        (changeModule)="onClickModule($event)"></app-course-menu>
    <div class="content">
        <app-top-toolar-container class="toolbar"
            [lessons]="courseInfo && currentModuleIndex !== null ? courseInfo.modules[currentModuleIndex].lessons : []"
            (onClickLesson)="onClickLesson($event)" (onClickCreateLesson)="createLesson()">
        </app-top-toolar-container>

        <router-outlet style="position: absolute;"></router-outlet>
    </div>
</div>