.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px 16px;
    background: #FFFFFF;
    border-radius: 10px;
    gap: 24px;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 24px;
}

.inputContainer {

}

.inputComponent {
    display: none;
}

.labelInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 323px;
    height: 50px;
    background: #FF841F;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}

.labelInput:hover {
    opacity: .7;
}

.inputHref {
    width: 566px;
    height: 47px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

.videoPlayer {
    width: 714px;
    height: 412px;
    display: flex;
    align-self: center;
}

.deleteButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    background: url('icons/icons_close.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.deleteButton:hover {
    opacity: .8;
}