<div class="main">
    <app-lesson-name-container [titleName]="lessonName" (changeLessonName)="onChangeLessonName($event)"
        (deleteLesson)="onDeleteLesson()">
    </app-lesson-name-container>
    <app-video-container [videoHref]="hrefVideo" [youtubeHref]="hrefYoutubeVideo"
        (onChangeVideoFile)="onChangeVideoFile($event)" (onChangeYoutubeHref)="onChangeYoutubeHref($event)">
    </app-video-container>
    <app-text-editor [title]="'Дополнительные материалы:'" [unicId]="'video-page-type-additional-material'"
        [initHeight]="250" [editData]="existsTextData"></app-text-editor>
    <app-bottom-edit-container class="bottomToolbar" (saveLesson)="saveChanges()"></app-bottom-edit-container>
</div>