.main {
    display: flex;
    flex-direction: column;
    max-height: 594px;
    height: 594px;
    box-sizing: border-box;

    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 100%;
    position: relative;
}

.deleteSlideImage {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    background: url('icons/icons_close.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.deleteSlideImage:hover {
    opacity: .8;
}

.slide {
    // width: 100%;
    height: 396px;
    object-fit: cover;
}

.inputPresentation {
    display: none;
}

label {
    cursor: pointer;
}

.button,
.inputPresentationLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.button:hover,
.inputPresentationLabel:hover {
    opacity: .7;
}

.button.create {
    background: #FF841F;
    color: #FFFFFF;
}

.button.addCreated,
.inputPresentationLabel {
    border: 1px solid #2E62D9;
    color: #2E62D9;
}

.toolbar {
    display: flex;
    height: 120px;
    box-sizing: border-box;
    padding: 10px 20px;
    align-items: center;
    gap: 45px;
    box-shadow: 0px -4px 10px rgba(69, 69, 69, 0.07);
    border-radius: 10px;
}

.navigateButton {
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    background: url('./icons/icons_left_new.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.navigateButton.next {
    transform: rotate(180deg);
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.items {

    display: flex;
    width: 100%;
    height: 100%;
    gap: 16px;
    // overflow-y: hidden;
    // overflow-x: auto;
}

.item {
    position: relative;
    flex-shrink: 0;
    display: flex;
    width: 140px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ECEEF3;
    cursor: pointer;
    transition: .3s;
}

.item.add {
    background: url('./icons/add.svg') 50% 50% no-repeat;
    background-size: 20px 20px;
    background-color: #ECEEF3;
}

.item.preview {
    max-width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.item.active {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: .3s;
}

.deleteSlide {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background: url('icons/icons_close.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.deleteSlide:hover {
    opacity: .8;
}