<div class="main">
    <app-presentation-top-toolbar></app-presentation-top-toolbar>
    <div class="content">
        <button class="button create">Создать новую презентацию</button>
        <button class="button addCreated">Добавить готовую презентацию</button>
    </div>
    <div class="toolbar">
        <button class="navigateButton prev"></button>
        <div class="items">
            <div class="item add"></div>
        </div>
        <button class="navigateButton next"></button>
    </div>
</div>