<div class="main">
    <app-presentation-top-toolbar class="top-toolbar" [currInd]="currentSlideIndex"
        [audioHrefInput]="slides[currentSlideIndex]?.voiceSrc || null"
        (saveChange)="onSaveVoiceChange($event, currentSlideIndex)">
    </app-presentation-top-toolbar>
    <div class="content">
        <!-- <button class="button create">Создать новую презентацию</button> -->
        <div *ngIf="slides[currentSlideIndex]?.imageSrc" class="deleteSlideImage" (click)="onDeleteSlideImage()"></div>
        <img *ngIf="slides[currentSlideIndex]?.imageSrc" class="slide"
            [src]="getSafeUrl(slides[currentSlideIndex].imageSrc)" alt="Слайд" />
        <div *ngIf="!slides[currentSlideIndex]?.imageSrc" class="inputPresentationContainer">
            <input id="inputPresentation1" type="file" class="inputPresentation" #event
                (change)="onUploadSlide(event.files)" />
            <label for="inputPresentation1" class="button create">
                <div></div> {{slides.length ? "Добавить слайд" : "Создать новую презентацию"}}
            </label>
        </div>
        <div *ngIf="!slides[currentSlideIndex]?.imageSrc && slides.length === 0" class="inputPresentationContainer">
            <input id="inputPresentation2" type="file" class="inputPresentation" #event
                (change)="uploadPresentation(event.files)" />
            <label for="inputPresentation2" class="inputPresentationLabel">Добавить готовую презентацию</label>
        </div>
    </div>
    <div class="toolbar">
        <button class="navigateButton prev" (click)="onClickScrollButton('left')"></button>
        <div class="wrapper">
            <div class="items">
                <div [class.active]="currentSlideIndex===i" class="item" *ngFor="let slide of slides; index as i"
                    (click)="onChangeCurrent(i)">
                    <div class="deleteSlide" (click)="onDeleteSlide(i)"></div>
                    <img [src]="getSafeUrl(slide.imageSrc)" class="item preview" alt="Слайд">
                </div>
                <div class="item add" (click)="onAddSlide()"></div>
            </div>
        </div>
        <button class="navigateButton next" (click)="onClickScrollButton('right')"></button>
    </div>
</div>