.main {
    display: flex;
    max-width: 830px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
    gap: 12px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: -1px -1px 15px rgba(69, 69, 69, 0.07), 5px 8px 10px rgba(69, 69, 69, 0.07);
    border-radius: 10px;
}

.squareLesson,
.addNewLessonButton {
    border: none;
    cursor: pointer;
}

.squareLesson:hover,
.addNewLessonButton:hover {
    opacity: .9;
}

.squareLesson {
    width: 35px;
    height: 35px;
    // background: url('icons/addIcon.svg') 50% 50% no-repeat;
    background-size: 16px 16px;
    background-color: #ECEEF3;
    border-radius: 3px;
}

.squareLesson.active {
    background-color: rgba(46, 98, 217, 1);
}

.addNewLessonButton {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #FF841F;
    border-radius: 3px;
    color: #FF841F;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.015em;
}

.addIcon {
    width: 24px;
    height: 24px;
    background: url('icons/icons_add1.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.addNewLessonButton.short {
    padding: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 25px;
    color: #FF841F;
}

.addNewLessonButton.short::after {
    content: "+";
    margin-left: 1px;
}

.addNewLessonButton.short .caption,
.addNewLessonButton.short .addIcon {
    display: none;
}
