.main {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 15px;
    border: 1px solid #5F5F5F;
    border-radius: 10px;
}

.main.disabled {
    border: 1px solid #D5D5D5;
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkIcon {
    width: 20px;
    height: 20px;
}

.checkIcon.radio {
    background: url('./icons/radio.svg') 50% 50% no-repeat;
}

.checkIcon.radio,
.checkIcon.checkbox {
    background-size: 100% 100%;
}

.optionInput {
    width: 19px;
    height: 19px;
    margin: 0;
    filter: grayscale(1);
}

.optionValueInput {
    width: 578px;
    border: none;
    border-bottom: 1px solid #5F5F5F;
    background-color: #FFFFFF;
    outline: none;

    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #5F5F5F;
}

.main.disabled .optionValueInput {
    border-bottom: 1px solid #D5D5D5;
    color: #D5D5D5;
    cursor: pointer;
}

.removeIcon {
    width: 24px;
    height: 24px;
    background: url('./icons/icons_close.svg') 50% 50% no-repeat;
    background-size: 100% 100%;

    cursor: pointer;
}

.removeIcon:hover {
    opacity: .7;
}