<div class="main">
    <div class="title">Создание нового {{typeContainerName}}</div>
    <div class="nameContainer">
        <div class="nameTitle">Введите название {{typeContainerName}}</div>
        <input class="nameItem" [(ngModel)]="inputValue" />
    </div>
    <div class="buttons">
        <button tuiButton type="button" appearance="customPrimaryOutline">Отменить</button>
        <button (click)="create(inputValue)" tuiButton type="button" appearance="customAccent">Создать
            {{typeContainerName === 'курса' ? 'курс' :
            'модуль'}}</button>
    </div>
</div>