<div class="main">
    <div class="header">
        <img class="logoCourse" src="/assets/jsIcon.svg" alt="Лого курса" />
        <div class="titleCourse">{{courseInfo?.name}}</div>
    </div>
    <div class="moduleContainer">
        <div class="wrapper" *ngFor="let item of courseInfo?.modules">
            <app-module-item [title]="item.name"></app-module-item>
        </div>
    </div>
    <div class="button">
        <button class="addModuleButton" (click)="onClickCreateModule()">Добавить модуль</button>
    </div>
</div>

