.main {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.05);
    gap: 11px;
    z-index: 5;
}

.header {
    display: flex;
    box-sizing: border-box;
    padding: 40px 20px;
    gap: 20px;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(69, 69, 69, 0.1);
    border-radius: 0px 0px 20px 20px;
}

.logoCourse {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.titleCourse {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #3E3E3E;
}

.moduleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 10px 33px 20px;
}

.addModuleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background: #2E62D9;
    box-shadow: 0px 4px 10px rgba(69, 69, 69, 0.1);
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    flex-shrink: 0;
    cursor: pointer;
}

.addModuleButton:hover {
    opacity: .7;
}